* {
  font-family: "Courier New", monospace;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

/* Nagłówek */
header {
  height: 15%;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(0, 128, 0, 0.9);
  color: wheat;
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  padding-left: 35px;
}

/* Menu */
nav {
  padding: 20px 30px;
  background-color: rgba(0, 128, 0, 0.92);
  border-radius: 0px 20px 20px 0px;
  margin-right: 5px;
  color: whitesmoke;
}
nav > h2 {
  padding: 0px 0px 10px 0px;
}
li.menuitem {
  list-style-type: none;
}
a.menuitem {
  display: block; /* Make the links appear below each other */
  padding: 15px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

a.menuitem:hover {
  background-color: rgba(0, 109, 0, 0.98);
  border-radius: 15px;
}

/* Treść */
article {
  padding: 10px 20px;
  background-color: rgba(0, 128, 0, 0.96);
  border-radius: 20px;
  color: rgb(230, 222, 208);
  margin-bottom: 10px;
}

.main > h2 {
  padding: 20px 15px 0px 15px;
}
.main > p {
  padding: 20px 10px;
}

/* Blok reklamowy */
aside {
  padding: 10px 20px;
  background-color: rgba(0, 128, 0, 0.92);
  float: right;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
}

/* Stopka */
footer {
  background-color: green;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.9);
  border-radius: 20px 20px 0px 0px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  nav,
  .main,
  aside {
    border-radius: 20px;
  }
  nav {
    margin: 0px 3px;
  }
  .main {
    margin: 0px 3px 0px 0px;
    float: right;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  nav,
  .main,
  aside {
    border-radius: 20px;
    margin: 0px 5px 5px 5px;
  }
}
